
/* imagen de promidat en el header */
#imgPromidat{
  padding-top:2px;
  padding-bottom:6px;
}

.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-success, 
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-success {
    color: #fff;
    background: #3260f3 !important;
}

.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-danger, 
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-danger {
    color: #fff;
    background: #969696 !important;
}

/* Espacio entre el header y el menu */
#espacioMenu{
  padding-top:10px;
}

/* En el menu de configuracion de datos, el espacio en el selector de la semilla */
#load_data_ui_1-colSemilla{
  padding-left:0px;
}

#random_forests_ui_1-rfPrediTable, #KNN_ui_1-knnPrediTable, #SVM_ui_1-svmPrediTable, #regression_trees_ui_1-dtPrediTable,
#boosting_ui_1-boostingPrediTable, #neural_networks_ui_1-nnPrediTable, #linear_regression_ui_1-rlPrediTable, #penalized_Regression_ui_1rlrPrediTable, 
#linear_regression_ui_1-rlCoefTable,#dimension_reduction_ui_1-rdPrediTable{
  min-height: 370px !important;
}

div[id*="indexdf"] table td{
  color: #000000 !important;
  background-color: #e2e2e2;
  font-size:20px;
}

div[id*="indexdf"] table thead tr{
  color: #000000 !important;
  background-color: #CBB051 !important;
  font-size:20px;
}

.mini-numeric-select .form-group.shiny-input-container {
    width: 15%;
    position: relative;
    min-height: 1px;
    padding-right: 13px;
    padding-left: 13px;
    float: left;
}

table.spacing-xs tr th{
  padding-left: 1px !important;
  padding-right: 1px !important;
}

.space-code{
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
  border: 0px;
  background-color: #777777
}

.header-title {
  position: absolute;
  margin-top: 7px;
  font-size: 24px;
  color: #CBB051;
  left: 45%;
}

.disabled{
  background: #eee;
  cursor: default;
  color: black;
}

.skin-blue .main-sidebar {
    background-color: #777777;
}

.skin-blue .sidebar-menu>li.active>a, .skin-blue .sidebar-menu>li:hover>a {
    background-color: #CBB051;
}

.skin-blue .main-header .navbar .sidebar-toggle:hover{
    background-color: #CBB051;
}

.skin-blue .main-header .logo {
    background-color: #CBB051;
}

.skin-blue .main-header .logo:hover {
    background-color: #CBB051;
}

.skin-blue .main-header .navbar {
  background-color: #777777;
}

#normal_ui_1-calculo\.normal{
  min-height: 350px;
}

.bg-promidat{
  background-color: #CBB051;
  color: #fff
}

#plot.recalculating {
    z-index: -2;
}

#plot-container {
  position: relative;
}

.box {
    background-color: #777777;
    color: #CBB051;
}

.box-header {
    background-color: #CBB051;
    color: white;
}

.box.box-solid.box-primary > .box-header{
  background-color: #CBB051;
  color: white;
}

.table-striped > tbody > tr:nth-of-type(2n+1){
  background-color: #CBB051;
  color: #777777;
}

.shiny-text-output{
  overflow-y:scroll !important;
  min-height: 360px !important;
  max-height: 400px !important;
}

/* Circulo de carga eloaders */ 
.ring-1 {
    width: 80px !important;
    height: 80px !important;
    border: 7px dashed #cab151 !important;
}

.load-container {
    top: 15% !important;
}


/* --------------Indicador de carga generating model ------------- */ 
#loaderWrapper {
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 1000;
}

#loaderModel  {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1001;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #D0D3D4;
  border-radius: 50%;
  border-top: 16px solid #cab151;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}


@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/*-------------------------------------------------------*/

.run-button {
    padding-top: 5px;
    padding-left: 10px;
    background: transparent;
    color: green;
    border: 0px;
    font-size: 15px;
}

.run-button:active {
  transform: translateY(4px);
}


/*scrollbar*/

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#regression_trees_ui_1-rulesDt{
  height: 24vh;
}

.menuicon {
  width: 20px;
}

.center-button {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.select-color {
  width: 20%;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
}

.multiple-select-var{
  float: right;
  width: 275px;
  margin-bottom: -3px;
  margin-top: 6px;
  font-size: 14px;
  line-height: 0px;
}

.option-var-ind {
  float: left;
  padding-right: 8px;
  margin-top: 0px;
}

#txtpca {
  height: 70vh;
}

#correlacion_ui_1-txtcor {
  height: 70vh;
}

#KNN_ui_1-txtk {
  height: 70vh;
}

#txthc {
  height: 43vh;
}

#txtcentros {
  height: 22vh;
}

.descargaDatos {
  width: 100%;
}

.colourpicker-panel {
  right: 0;
  left: auto;
}

.disabled {
  background: #eee;
  cursor: default;
  color: black;
}

.tab-content {
  position: relative;
  overflow-y: hidden;
}

.nav-tabs-custom > .tab-content {
    background: #fff;
    padding: 0 0 0 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.tab-content > .active {
    display: block;
    padding: 10px 10px 10px 10px;
}

.box-option {
  color: white;
  padding: 10px 10px 10px 10px;
  background: #666666;
  position: absolute;
  overflow: auto;
  transition: transform .5s ease-in-out;
  opacity: 0.98;
}

.box-option-left {
  left: 0;
}

.box-option-centerleft {
}

.box-option-center {
}

.box-option-centeright {
}

.box-option-right {
  right: 0;
}

.box-option-open-left .box-option-left {
  transform: translateY(-94%);
}

.box-option-open-centerleft .box-option-centerleft {
  transform: translateY(-94%);
}

.box-option-open-center .box-option-center {
  transform: translateY(-94%);
}

.box-option-open-centeright .box-option-centeright {
  transform: translateY(-94%);
}

.box-option-open-right .box-option-right {
  transform: translateY(-94%);
}

.btn-options button {
    background-color: #777777;
    border: 1px solid gray; 
    color: white;
    padding: 10px 24px;
    cursor: pointer;
    float: left;
}

.btn-options:after {
    content: "";
    clear: both;
    display: table;
}

.btn-options button:not(:last-child) {
    border-right: none;
}

.btn-options button:hover {
    background-color: #666666;
}

.btn-options button:focus {
    background-color: #666666;
    outline: -webkit-focus-ring-color auto 0;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.dataTables_empty {
  color: white;
  background-color: #CBB051;
}

.selectize-dropdown, .selectize-dropdown.form-control {
    height: auto;
    padding: 0;
    margin: 2px 0 0 0;
    z-index: 2000;
    color: white;
    background: #CBB051;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.selectize-input.full {
    background-color: #CBB051;
    color: white;
}

.selectize-input.focus {
  border-color: #666666;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px #777777;
}

.selectize-dropdown .active {
  background-color: #777777;
  color: #CBB051;
}